@tailwind base;
@tailwind components;
@tailwind utilities;

/* Width and height of the scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 4px;
  }
  
  /* Track (background) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle (thumb) */
  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
  
  .chat-sidebar {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    color: black;
    z-index: 10;
    transition: left 0.5s ease-in-out;
  }
  
  /* .closed {
      --sidebar-left: 100%;
    } */
  
.open {
    left: 0;
  }
  
  .active-tab {
    position: relative;
    padding-bottom: 8px; /* Adjust the gap between tab name and underline */
  }
  
  .active-tab::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px; /* Height of the underline */
    width: 100%; /* Underline width when tab is active */
    background-color: white; /* Color of the underline */
    transition: width 0.3s ease; /* Animation transition */
  }
  

  /* NotFound.css */
.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.not-found {
  text-align: center;
}

.not-found-title {
  font-size: 3rem;
  color: #dc3545;
}

.not-found-text {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #6c757d;
}

.not-found-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.not-found-link:hover {
  background-color: #0056b3;
}
